<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <div>
        <mat-card-header>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-header>
        <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
        <mat-card-content>
          <p>{{ dish.description }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-list *ngFor="let aval of dish.comments">
        <p>{{ aval.comment }}</p>
        <p>{{ aval.rating }}</p>
        <p>--{{ aval.author }} {{ aval.date | date }}</p>
      </mat-list>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>

        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <div class="form-size" class="matFormFieldUnderline">
        <h3>Send us your comment about this dish</h3>
        <mat-card>
          <p>{{ commentsForm.value.message }}</p>
          <p>{{ commentsForm.value.slider }}</p>
          <p>
            --{{ commentsForm.value.name }} {{ commentsForm.value.date | date }}
          </p>
        </mat-card>
        <p>{{ commentsForm.value | json }} {{ commentsForm.status | json }}</p>
        <form
          novalidate
          [formGroup]="commentsForm"
          #fform="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <p>
            <mat-form-field class="half-width">
              <input
                matInput
                formControlName="name"
                placeholder="Name"
                type="text"
                required
              />
              <mat-error *ngIf="formErrors.name">{{
                formErrors.name
              }}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width">
              <mat-slider
                min="1"
                max="5"
                step="1"
                value="1"
                thumbLabel
                tickInterval="auto"
              ></mat-slider>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="full-width">
              <textarea
                matInput
                formControlName="message"
                placeholder="Your Feedback"
                rows="12"
              ></textarea>
              <mat-error *ngIf="formErrors.message">{{
                formErrors.message
              }}</mat-error>
            </mat-form-field>
            <button
              type="submit"
              mat-button
              class="background-primary text-floral-white"
            >
              Submit
            </button>
          </p>
        </form>
      </div>
    </mat-card>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
</div>
