<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div fxFlex="40">
    <mat-card>
      <div>
        <mat-card-header>
          <mat-card-title>{{ dish.name | uppercase }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
        <mat-card-content>
          <p>{{ dish.description }}</p>
        </mat-card-content>
      </div>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-card>
      <mat-list *ngFor="let aval of dish.comments">
        <p>{{ aval.comment }}</p>
        <p>{{ aval.rating }}</p>
        <p>--{{ aval.author }} {{ aval.date | date }}</p>
      </mat-list>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
